Repository BF-FrontEnd-class/agile-development-group1-loruki-rebild, pull requests merged in 2023-05, with the labels that each got.

#9 add constrainrs
  planning/constraints.md
Labels: md, planning

#14 add communication
  .cspell.json
  .vscode/settings.json
  planning/communication.md
Labels: md, planning

#15 add two photos for users personas
  images/james.png
  images/mark.png
Labels: planning, images

#19 change images size
  img/james.png
  img/mark.png
Labels: md, planning, images

#20 Add design
  .cspell.json
  .vscode/settings.json
  assets/design.png
  assets/page-docs.jpg
  assets/page-features.jpg
  assets/page-home.jpg
  package.json
  planning/design.md
Labels: md, planning

#21 add backlog
  planning/backlog.md
Labels: md, planning

#24 update backlog
  planning/backlog.md
Labels: md, planning

#25 add development-strategy.md
  planning/development-strategy.md
Labels: md, planning

#90 01 title home
  .vscode/settings.json
  index.html
  styles/something.css
Labels: html, css, Home Page

#91 add-navbar-home
  features.html
  index.html
Labels: html, Home Page

#93 05 slogan home
  .cspell.json
  img/design.jpg
  img/page-docs.jpg
  img/page-features.jpg
  img/page-home.jpg
  index.html
  styles/something.css
  styles/utilities.css
Labels: html, css

#92 add 02-description-home
  index.html
Labels: html, Home Page

#95 add-nav-top-home-css
  styles/something.css
Labels: css

#97 added 02-origin/02-description-home:CSS
  styles/something.css
  styles/utilities.css
Labels: css, Home Page

#98 updated default css settings
  styles/something.css
Labels: css, Home Page, Features Page, Docs Page

#101 Add titile to feature page
  features.html
Labels: html, css, Features Page

#114 add 21-footer-nav-features:HTML
  features.html
  index.html
Labels: html, Features Page

#116 26 nav left docs
  pages/another-page.html
  pages/docs.html
  pages/features.html
Labels: html, css, Docs Page

#118 Add retrospective
  planning/retrospective.md
Labels: md, planning

#121 fixed features.html
  .vscode/settings.json
  features.html
  pages/features.html
  public/server.png
  public/server2.png
Labels: html, Features Page, fix

#125 0002-delet-features.html
  features.html
Labels: html, Features Page, fix

#127 0003-fixing-links-navbar-index.html
  index.html
  public/cli.png
  public/clojure.png
  public/cloud.png
  public/csharp.png
  public/node.png
  public/php.png
  public/python.png
  public/ruby.png
  public/scala.png
Labels: html, Home Page, fix

#130 add 33-footer-social-docs:HTML
  pages/docs.html
Labels: html, Docs Page

#129 add 22-social-media-features:HTML
  pages/features.html
  styles/something.css
Labels: html, Features Page

#132 delete repeated Sign form
  index.html
Labels: html, Home Page, fix

#133 add 04-sign-in-form:CSS
  styles/something.css
  styles/utilities.css
Labels: css, Home Page

#134 fix links to styles & fix links to pages
  pages/features.html
Labels: html, Features Page, fix

#135 added navbar to the footer docs.html
  pages/docs.html
Labels: html, Docs Page

#136 added flex & container to the css files
  styles/something.css
  styles/utilities.css
Labels: css, Docs Page

#137 added navbar to docs.html
  pages/docs.html
Labels: html, Docs Page

#138 added installation guid to docs.html
  pages/docs.html
Labels: html, Docs Page

#140 added copyright mark to docs.html
  pages/docs.html
Labels: html, Docs Page

#141 fix
  pages/docs.html
Labels: html, Docs Page

#143 added sign form to index
  index.html
Labels: html, Home Page

#144 added intro to docs
  pages/docs.html
Labels: html, Docs Page

#145 added title to docs
  pages/docs.html
Labels: html, Docs Page

#151 udate links
  pages/docs.html
  styles/index.css
Labels: css, fix

#153 check docs.html
  pages/docs.html
Labels: html, Docs Page, fix

#154 check features.html
  pages/features.html
Labels: html, Features Page, fix

#155 check somethings.css
  styles/something.css
Labels: css, fix

#152 check index.html
  index.html
Labels: html, Home Page, fix

#156 check utilities.css
  styles/utilities.css
Labels: css, fix

#158 update links to photo
  planning/user-personas.md
Labels: md, planning, fix

#160 update README.md
  README.md
  public/Loruki-screenshot.png
Labels: md

#161 update links, css, readme
  README.md
  index.html
  pages/docs.html
  pages/features.html
  public/docs.png
  styles/index.css
Labels: html, css
